# Ignore the virtual environment directory
.venv/

# Ignore environment variable files
.flaskenv
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore Pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.tox/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary files
*.bak
*.swp
*~
